html {
    --vaadin-grid-cell-padding: 4px 8px;
}

vaadin-grid::part(header-cell) {
    font-weight: bold;
    min-height: var(--lumo-size-m);
}

vaadin-grid::part(cell) {
    min-height: var(--lumo-size-m);
}

vaadin-grid-tree-toggle {
    --vaadin-grid-tree-toggle-level-offset: 1em;
}

vaadin-text-field.label-only::part(input-field),
vaadin-text-field.label-only::part(clear-button),
vaadin-text-field.label-only::part(reveal-button) {
    display: none
}

vaadin-text-field.label-only {
    --lumo-text-field-size: 0px;
}

vaadin-custom-field.label-actions::part(label) {
    width: 100%;
}

vaadin-ckeditor label {
    margin-top: var(--lumo-space-m);
}

.ck-editor__editable { font-size: var(--lumo-font-size-s); }
.ck-editor__editable h2 { font-size: var(--lumo-font-size-xl); }
.ck-editor__editable h3 { font-size: var(--lumo-font-size-l); }
.ck-editor__editable h4 { font-size: var(--lumo-font-size-m); }

.progress-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-box {
    width: 500px;
    background-color: var(--lumo-base-color);
    border-radius: var(--lumo-border-radius-l);
    box-sizing: border-box;
    box-shadow: var(--lumo-box-shadow-xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-spinner {
    width: 100px;
    height: 100px;
    margin: var(--lumo-space-m);
    border-radius: 50%;
    border: 10px solid lightgray;
    border-top-color: var(--lumo-primary-color);
    animation: progress-spinner 1s linear infinite;
}

.progress-text {
    margin-bottom: var(--lumo-space-m);
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-secondary-text-color);
}

@keyframes progress-spinner {
    to {
        transform: rotate(360deg);
    }
}

.ellipsis-cell {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
