.line-name {
    font-size: 4mm;
}

.line-variant {
    font-size: 3mm;
}

.barcode {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1mm 0 1mm 1mm;
}

.barcode img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}